@charset "UTF-8";

.ListDiv {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.card {
	position: relative;
	right: 35px;
	margin: 11px;
	width: 13.5rem;
}
.cardImgWrapper {
	width: 100%;
	height: 18rem;
	cursor: pointer;
	display: flex;
	background-color: GAINSBORO;
}
.card-img-top {
	max-height: 95%;
	max-width: 95%;
	height: auto;
	margin: auto;
}
.subTitle {
	font-weight: bold;
	color: gray;
}
.card-body {
	background-color: GAINSBORO;
}
.rankImg {
	position: relative;
	height: 65px;
	width: 65px;
	left: 40px;
	bottom: 10px;
	z-index: 100;
}